<section id="home" class="home overflow:hidden ">
    <div id="carouselExampleIndicators" class="carousel slide">
        <div class="carousel-indicators"> <button type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
            <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
        </div>
        <div class="carousel-inner ">
            <div class="carousel-item active">
                <div class="home-banner home-banner-1">
                    <div class="home-banner-text">
                        <!-- <h1>Women</h1>            <h2>52% Discount For This Season</h2> -->
                        <a href="#" class="btn fill-btn text-uppercase ">Book Appointment</a>
                        <a href="#" class="btn fill-btn text-uppercase ms-4">Our Products</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="home-banner home-banner-2">
                    <div class="home-banner-text">
                        <!-- <h1>E-Shop</h1>            <h2>With Working Card & Pay Pal</h2> -->

                        <!-- <a href="#" class="btn btn-danger text-uppercase mt-4">Our Products</a> -->
                    </div>
                </div>
            </div>
        </div> <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
            data-bs-slide="prev"> <span class="carousel-control-prev-icon" aria-hidden="true">
                <i class="fas fa-solid fa-less-than slider-icon"></i>
                <!-- <span class="ti-angle-left slider-icon" style="color: blue;"></span> --> </span>
            <span class="visually-hidden">Previous</span> </button> <button class="carousel-control-next" type="button"
            data-bs-target="#carouselExampleIndicators" data-bs-slide="next"> <span class="carousel-control-next-icon"
                aria-hidden="true">
                <i class="fas fa-solid fa-greater-than slider-icon"></i>
                <!-- <span class="ti-angle-right slider-icon"></span> --> </span> <span
                class="visually-hidden">Next</span> </button>
    </div>
    <div class="wrapper">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <div class="icon-box"> <img decoding="async" src="../../../assets/images/appointment-icon.svg"
                                class="icon-size">
                        </div>
                        <div>
                            <h4>Easy Appointment</h4>
                            <p>Lorem Ipsum is simply is very dummy text of the printings and
                                type setting</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <div class="icon-box">
                            <img decoding="async" src="../../../assets/images/emergency-icon.svg" class="icon-size">
                        </div>
                        <div>
                            <h4>
                                Emergency Service</h4>
                            <p>Lorem Ipsum is simply is very dummy
                                text of the printings and type setting</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 mb-4">
                    <div class="card text-center">
                        <div class="icon-box">
                            <img decoding="async" src="../../../assets/images/appointment-icon.svg" class="icon-size">
                        </div>
                        <div>
                            <h4>24/7 Service</h4>
                            <p>Lorem Ipsum is simply is
                                very dummy text of the printings and type setting</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>