<section id="team" class="team_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3 class="text-black">Our Teams</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card rounded-3">
                    <div class="team-img"> <img decoding="async" src="../../../assets/images/Human.svg"
                            class="img-fluid image-size1"> </div>
                    <div class="team-info pt-4 text-center">
                        <h5>Darry Milin</h5>
                        <p>Oral Surgeon</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card rounded-3">
                    <div class="team-img"> <img decoding="async" src="../../../assets/images/men.svg"
                            class="img-fluid image-size1"> </div>
                    <div class="team-info pt-4 text-center">
                        <h5>Salman Ahmed</h5>
                        <p>Oral Surgeon</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card rounded-3">
                    <div class="team-img"> <img decoding="async" src="../../../assets/images/Human.svg"
                            class="img-fluid image-size1"> </div>
                    <div class="team-info pt-4 text-center">
                        <h5>Santa Binte</h5>
                        <p>Oral Surgeon</p>
                        <ul class="social-network">
                            <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#"><i class="fab fa-google-plus-g"></i></a></li>
                            <li><a href="#"><i class="fab fa-vimeo-v"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>