<section id="services" class="services_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3>Our Services</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="icon-box"> <img decoding="async" src="./../../../assets/images/callsupport.svg"
                            class="icon-size"> </div>
                    <div>
                        <h4>Complete Dentistry</h4>
                        <p>Lorem Ipsum is simply is very dummy text of the printings and type setting Lorem Ipsum is
                            simply is very dummy text</p> <a href="#" class="main-btn mt-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="icon-box"> <img decoding="async" src="./../../../assets/images/callsupport.svg"
                            class="icon-size"> </div>
                    <div>
                        <h4>Dental Selants</h4>
                        <p>Lorem Ipsum is simply is very dummy text of the printings and type setting Lorem Ipsum is
                            simply is very dummy text</p> <a href="#" class="main-btn mt-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="icon-box"> <img decoding="async" src="./../../../assets/images/callsupport.svg"
                            class="icon-size"> </div>
                    <div>
                        <h4>Dental Dictionary</h4>
                        <p>Lorem Ipsum is simply is very dummy text of the printings and type setting Lorem Ipsum is
                            simply is very dummy text</p> <a href="#" class="main-btn mt-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="icon-box"> <img decoding="async" src="./../../../assets/images/callsupport.svg"
                            class="icon-size"> </div>
                    <div>
                        <h4>Dental Implants</h4>
                        <p>Lorem Ipsum is simply is very dummy text of the printings and type setting Lorem Ipsum is
                            simply is very dummy text</p> <a href="#" class="main-btn mt-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="icon-box"> <img decoding="async" src="./../../../assets/images/callsupport.svg"
                            class="icon-size"> </div>
                    <div>
                        <h4>Oral Surgery</h4>
                        <p>Lorem Ipsum is simply is very dummy text of the printings and type setting Lorem Ipsum is
                            simply is very dummy text</p> <a href="#" class="main-btn mt-4">Read More</a>
                    </div>
                </div>
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <div class="card">
                    <div class="icon-box"> <img decoding="async"
                            src="./../../../assets/images/callsupport.svg" class="icon-size"> </div>
                    <div>
                        <h4>General Dentistry</h4>
                        <p>Lorem Ipsum is simply is very dummy text of the printings and type setting Lorem Ipsum is
                            simply is very dummy text</p> <a href="#" class="main-btn mt-4">Read More</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>