<section id="gallery" class="gallery_wrapper wrapper">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center mb-5">
                <h3>Our Gallery</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6 mb-4">
                <img decoding="async" src="../../../assets/images/Product1.PNG" class="w-100 h-100">
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <img decoding="async" src="../../../assets/images/Product2.PNG" class="w-100 h-100">
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <img decoding="async" src="../../../assets/images/Product3.PNG" class="w-100 h-100">
            </div>
            <div class="col-md-4 col-sm-6 mb-4">
                <img decoding="async" src="../../../assets/images/Product4.PNG" class="w-100 h-100">
            </div>
            <div class="col-md-8 col-sm-6 mb-4">
                <img decoding="async" src="../../../assets/images/Product5.PNG" class="w-100 h-100">
            </div>
        </div>
    </div>
</section>